<div class="article-footer flex-column">
  <div
    *ngIf="articlesToSee&&articlesToSee.length>0"
    class="articles flex-column"
  >
    <span class="title">You may also like</span>
    <div class="links flex-row">
      <div class="article1">
        <app-image-tile [imageTile]="articlesToSee[0]"></app-image-tile>
      </div>
      <div class="article2">
        <app-image-tile [imageTile]="articlesToSee[1]"></app-image-tile>
      </div>
    </div>
  </div>
  <div>
    <span (click)="scrollToTop()" class="to-top flex-row"
      ><mat-icon>arrow_upward</mat-icon>Back to top</span
    >
  </div>
</div>
