<div class="photos flex-column">
  <div
    *ngFor="let image of article?.images; let i = index"
    class="image-wrapper flex-row"
  >
    <img (click)="openSlideShow(i)" [src]="'https://lubossremanak.com.d.r2.wbsprt.com'+image.path" alt="" />
  </div>
</div>
<swiper
  *ngIf="openSlider"
  [centeredSlides]="true"
  [initialSlide]="initialSlide"
  [navigation]="true"
  [slidesPerView]="1"
  class="slideshow"
>
  <ng-template *ngFor="let image of article?.images" swiperSlide>
    <img [src]="'https://lubossremanak.com.d.r2.wbsprt.com'+image.path" alt=""
  /></ng-template>
</swiper>
<mat-icon (click)="openSlider = false" *ngIf="openSlider" class="close-icon"
  >close</mat-icon
>
