<nav class="navbar flex-column" [class.colorfull]="menuClick">
  <div class="header flex-column">
    <a class="full-name flex-row" routerLink="">
      <span class="name">Natalia Tomkova</span>
    </a>
    <span class="profession">fashion stylist & consultant</span>
    <app-lottie (isLoaded)="menuButtonInitialized()" class="menu-icon" (click)="menuClicked()" [loop]="false"
                [autoPlay]="false"
                [path]="'assets/animations/menuButton.json'" [lottieId]="'menuButton'"
                width="62px"
                height="62px"></app-lottie>
  </div>
  <div class="container flex-column" [@collapse]="!menuClick" (@collapse.start)="rollStart($event)"
       (@collapse.done)="rollDone($event)">
    <div class="overflow-wrapper flex-column" [class.overflow]="isMenuRolled">
      <div class="links flex-column">
        <a class="link title uppercase center-wrapper" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="">
          <span>Work</span></a>
        <a class="link title center-wrapper" routerLinkActive="active" routerLink="contact"> <span>Contact</span></a>
      </div>
      <div class="social-media flex-row center-wrapper" >
        <a class="link title" href="https://www.instagram.com/nattom_/" target="_blank">
          <fa-icon class="icon instagram" [icon]="instagram"></fa-icon>
        </a>
        <a class="link title" href="mailto:'natalia.tomkova149@gmail.com'">
          <fa-icon class="icon mail" [icon]="email"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</nav>
