.contact {
  justify-content: flex-start;
  align-items: center;
  font-family: 'acumin-pro', serif;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -50px;
}

.container {
  max-width: 450px;
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    width: 80%;
    justify-content: center;
    margin-left: -21px;
  }
}
