<nav [class.colorfull]="menuClick" class="navbar flex-column">
  <div class="header flex-column">
    <a class="full-name flex-row" routerLink="">
      <span class="name">Natalia Tomkova</span>
    </a>
    <span class="profession">fashion stylist & consultant</span>
    <app-lottie
      (click)="menuClicked()"
      (isLoaded)="menuButtonInitialized()"
      [autoPlay]="false"
      [loop]="false"
      [lottieId]="'menuButton'"
      [path]="'assets/animations/menuButton.json'"
      class="menu-icon"
      height="62px"
      width="62px"
    ></app-lottie>
  </div>
  <div
    (@collapse.done)="rollDone($event)"
    (@collapse.start)="rollStart($event)"
    [@collapse]="!menuClick"
    class="container flex-column"
  >
    <div [class.overflow]="isMenuRolled" class="overflow-wrapper flex-column">
      <div class="links flex-column">
        <a
          [routerLinkActiveOptions]="{ exact: true }"
          class="link title uppercase center-wrapper"
          routerLink=""
          routerLinkActive="active"
        >
          <span>Work</span></a
        >
        <a
          class="link title center-wrapper"
          routerLink="contact"
          routerLinkActive="active"
        >
          <span>Contact</span></a
        >
      </div>
      <div class="social-media flex-row center-wrapper">
        <a
          class="link title"
          href="https://www.instagram.com/nattom_/"
          target="_blank"
          aria-label="Instagram"
        >
          <fa-icon [icon]="instagram" class="icon instagram"></fa-icon>
        </a>
        <a class="link title" href="mailto:'natalia.tomkova149@gmail.com'"
           aria-label="Email"
        >
          <fa-icon [icon]="email" class="icon mail"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</nav>
