<div
  (click)="navigate()"
  (mouseenter)="imageHover = true"
  (mouseleave)="imageHover = false"
  (touchstart)="hoverOnTime()"
  class="image-container"
>
  <div
    *ngIf="imageHover"
    [@fadeInOnEnter]
    [@fadeOutOnLeave]
    class="about flex-column"
  >
    <span class="title">{{ imageTile?.title }}</span>
    <span class="content">{{ imageTile?.about }}</span>
  </div>
  <img
    *ngIf="imageTile?.image"
    [alt]="imageTile?.title"
    [src]="'https://lubossremanak.com.d.r2.wbsprt.com'+imageTile?.image?.path"
    loading="eager"
  />
</div>
