.image-container {
  display: inline-flex;
  width: 100%;
  height: 100%;
  max-height: 512px;
  max-width: 512px;
  aspect-ratio: 1 / 1 !important;
  position: relative;
  box-sizing: border-box;
}

.image-container img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container .about {
  position: absolute;
  left: 40px;
  top: 40px;
  content: "";
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px) !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.center-text {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image-container .about .content {
  color: rgb(34, 34, 34);
  font-size: calc(10px + 0.6vw);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0 0 20px;
  pointer-events: none;
  margin: 10px;
}

.image-container .about .title {
  color: rgb(34, 34, 34);
  font-size: calc(12px + 1.5vw);
  font-style: normal;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
  margin: 10px;
}

/*@media (max-width: 900px) {*/
/*  .image-container .about .content {*/
/*    font-size: 13px;*/
/*  }*/

/*  .image-container .about .title {*/
/*    font-size: 17px;*/
/*  }*/
/*}*/

@media (max-width: 1040px) {
  .image-container img {
    width: 100%;
    height: 100%;
  }

  .image-container .about .content {
    font-size: 17px !important;
  }

  .image-container .about .title {
    font-size: 22px !important;
  }
}

@media (max-width: 600px) {
  .image-container .about .content {
    font-size: 18px !important;
  }

  .image-container .about .title {
    font-size: 30px !important;
  }

  .image-container {
    margin: 0 0;
    width: 100%;
    height: 97.8vw;
  }
}

@media (max-width: 400px) {
  .image-container .about .content {
    font-size: 15px !important;
  }

  .image-container .about .title {
    font-size: 18px !important;
  }
}
