.admin-status {
  width: 100%;
  color: var(--primary-color);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 40px;
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.weight{
  font-weight: bold;
}

.admin {
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.admin .fab {
  margin: 5px;
  padding: 4px 7px;
}

.nav-link{
  margin: 0 20px;
}

.link {
  cursor: pointer;

}

.link:hover {
  font-weight: bold;
}

.divider{
  margin: 0 10px;
}
.logout {
  height: 25px;
  width: 80px;
}

mat-menu{
  text-align: center;
}

.link-text{
  color: black;
}

mat-menu button:hover{

}
