.login {
  justify-content: flex-start;
  align-items: center;
  font-family: "acumin-pro", serif;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -50px;
}

.container {
  max-width: 450px;
  width: 100%;
}

.submit-container {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .container {
    width: 80%;
    justify-content: center;
    margin-left: -21px;
  }
}

#name {
  background: url("../../../assets/icons/person.png") no-repeat scroll;
  background-size: 20px 20px;
  background-position: 10px 50%;
  padding-left: 40px;
}

#password {
  background: url("../../../assets/icons/password.png") no-repeat scroll;
  background-size: 20px 20px;
  background-position: 10px 50%;
  padding-left: 40px;
  /**/
}
