@use "~@angular/material" as mat;
@include mat.core();
$untitled3-primary: mat.define-palette(mat.$grey-palette,900);
$untitled3-accent: mat.define-palette(mat.$grey-palette,900);
$untitled3-warn: mat.define-palette(mat.$red-palette);
$untitled3-theme: mat.define-light-theme(
  (
    color: (
      primary: $untitled3-primary,
      accent: $untitled3-accent,
      warn: $untitled3-warn,
    ),
  )
);
@include mat.all-component-themes($untitled3-theme);
