@import '~swiper/swiper-bundle.min.css';
@import url("https://use.typekit.net/dtm1gjk.css");

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'acumin-pro', serif;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

:root {
  --primary-color: #080808;
  --secondary-color: #080808;
  --text-color: #999;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color) !important;
  text-decoration: none;
  cursor: pointer;
}


input, textarea {
  background-color: #ffffff;
  border-color: #dddddd;
  color: #333333;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 6px;
  padding-left: 10px;
  text-align: left;
  text-transform: none;
  height: 42px;
  line-height: 42px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  -webkit-appearance: none;
  border-radius: 6px;
  padding-right: 10px;
  width: 100%;
  resize: vertical;
}

:is(input,textarea)::placeholder {
  color: #aeadad;
  font-size: 14px;
  font-weight: 300;
}

@media only screen and (max-width: 750px) {
  .header-space {
    margin-top: 90px;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 11px;
}

::-webkit-scrollbar:horizontal {
  height: 11px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: #dddddd;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}
