<div class="change-password flex-column">
  <div class="container flex-column">
    <form (ngSubmit)="changePassword(data)" [formGroup]="data" class="form">
      <label> Old password <span class="important-field">*</span> </label>
      <input
        class="password"
        [@wrong]="data?.getError('wrongPassword') === true"
        [type]="'password'"
        [formControlName]="'oldPassword'"
        [name]="'password'"
        placeholder="Your old password..."
        [class.input-field-error]="
          isValid(oldPassword) && oldPassword?.errors?.required"
      />
      <div class="validity-error">
        <span *ngIf=" isValid(oldPassword) &&oldPassword?.errors?.required &&!data?.getError('wrongPassword')"
        >
          Old password is required</span
        >
        <span *ngIf="data?.getError('wrongPassword')">Wrong password</span>
      </div>


      <label> New password <span class="important-field">*</span> </label>
      <input
        class="password"
        [type]="'password'"
        [formControlName]="'newPassword'"
        [name]="'password'"
        placeholder="Your new password..."
        [class.input-field-error]="
          isValid(oldPassword) && oldPassword?.errors?.required"
      />
      <div class="validity-error">
        <span *ngIf=" isValid(oldPassword) &&oldPassword?.errors?.required &&!data?.getError('wrongPassword')"
        >
          New password must be 8 characters length</span
        >
      </div>
    <div class="submit-container">
      <button class="button submit-button">Change password</button>
    </div>
    </form>
  </div>

</div>
