.change-password {
  justify-content: flex-start;
  align-items: center;
  font-family: "acumin-pro", serif;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -50px;
  height: 100%;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
}

.container {
  max-width: 450px;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.submit-container {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .container {
    width: 80%;
    justify-content: center;
    margin-left: -21px;
  }
}
:is(input,select,textarea,.submit-button) {
  box-shadow: 0 2px 1px -2px rgb(0 0 0 / 20%), 0 1px 2px 0 rgb(0 0 0 / 14%),
  0 0 5px 0 rgb(0 0 0 / 12%);
  border: none!important;
}
.password {
  background: url("../../../../../assets/icons/password.png") no-repeat scroll;
  background-size: 20px 20px;
  background-position: 10px 50%;
  padding-left: 40px;
}
